DJANGO_SETTINGS_MODULE=config.settings.development
DJANGO_SECRET_KEY=replace-with-a-secure-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,api-service
TIME_ZONE=Asia/Ho_Chi_Minh

# Facebook Graph API
FACEBOOK_GRAPH_API_VERSION=v25.0
FACEBOOK_APP_ID=your-meta-app-id
FACEBOOK_APP_SECRET=your-meta-app-secret
FACEBOOK_PAGE_ACCESS_TOKEN=your-page-access-token
